<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cjhbuy.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    

    <application
        android:name="com.cjhbuy.utils.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/login_head_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cjhbuy.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cjhbuy.activity.SelectCityActivity" />
        <activity android:name="com.cjhbuy.activity.GoodsActivity" />
        <activity android:name="com.cjhbuy.activity.GuideActivity" />
        <activity android:name="com.cjhbuy.activity.OrderDetailsActivity" />
        <activity android:name="com.cjhbuy.activity.GoodsViewActivity" />
        <activity android:name="com.cjhbuy.activity.EvaluateActivity" />
        <activity android:name="com.cjhbuy.activity.ChatActivity" />
        <activity android:name="com.cjhbuy.activity.CommunicationActivity" />
        <activity android:name="com.cjhbuy.activity.LoginActivity" />
        <activity android:name="com.cjhbuy.activity.RegisteActivity" />
        <activity android:name="com.cjhbuy.activity.MainActivity" />
        <activity android:name="com.cjhbuy.activity.BaseActivity" />
        <activity android:name="com.cjhbuy.activity.MyOrderActivity" />
        <activity android:name="com.cjhbuy.activity.AddressActivity" />
        <activity android:name="com.cjhbuy.activity.PayWayActivity" />
        <activity android:name="com.cjhbuy.activity.PayConfirmActivity" />
        <activity android:name="com.cjhbuy.activity.WaitOrderConfirmActivity" />
        <activity android:name="com.cjhbuy.activity.HomeActivity" />
        <activity android:name="com.cjhbuy.activity.OrderActivity" />
        <activity android:name="com.cjhbuy.activity.MeActivity" />
        <activity android:name="com.cjhbuy.activity.CouponActivity" />
        <activity android:name="com.cjhbuy.activity.AboutUsActivity" />
        <activity android:name="com.cjhbuy.activity.CartActivity" />
        <activity android:name="com.cjhbuy.activity.OrderSearchActivity" />
        <activity android:name="com.cjhbuy.activity.RetrievePswdActivity" />
        
        <!-- leancloud 相关类 -->
        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cjhbuy.utils.NotificationBroadcastReceiver"/>
    </application>

</manifest>